 /* extra small device  */
 @media (max-width: 575.98px) {

     /* header section start  */
     .header {
         padding: 8px 0;
     }

     .logo {
         width: 170px;
     }

     .menu ul li a {
         font-size: 16px;
         font-weight: 400;
         margin: 0 9px;
         color: var(--primary-color);
     }

     /* header section end  */

     /* banner section start  */
     .banner-text {
         text-align: center;
     }

     .banner-title {
         max-width: 100%;
         margin: 10px 0 15px 0;
         padding: 0 10px;
         font-size: 25px;
         line-height: 35px;
     }

     .banner-paragraph {
         padding: 0 13px;
         line-height: 23px;
     }

     .banner-img img {
         padding: 0 20px;
         margin-bottom: 30px;
     }

     .get-started {
         margin: 25px 0 37px 0;
     }

     /* banner section end  */
     /* features section start  */
     .features {
         padding-bottom: 60px;
     }

     h3 {
         font-size: 20px;
     }

     /* features section end  */
     .course-card {
         margin-top: 25px;
         padding: 15px 15px 25px 15px;
     }

     .course-card .course-subtitle {
         font-size: 18px;
     }

     .buy-btn {
         margin: 15px 0 25px 0;
     }

     .course-footer .course-date span,
     .course-seat span {
         font-weight: 500;
         font-size: 14px;
     }

     .course-title h2 {
         text-align: center;
         color: #413960;
         font-weight: 700;
         font-size: 30px;
     }

     .course-date img,
     .course-seat img {
         width: 18px;
     }

     /* testimonial section start  */
     .test-title h2 {
         margin-bottom: 36px;
     }

     .test-img {
         margin: 0 70px 20px 70px;
     }

     .test-text p {
         text-align: center;
     }

     /* testimonial section end  */

     /* footer section start  */
     .footer-details p {
         padding: 0;
         text-align: center;
     }

     .footer-course,
     .footer-terms,
     .footer-links {
         text-align: center;
     }

     .footer-bottom {
         margin-top: 60px;
     }

     /* footer section end  */
 }


 /* small device  */
 @media (min-width: 576px) and (max-width: 767.98px) {
     h3 {
         font-size: 20px;
     }

     h2 {
         font-size: 31px;
     }

     /* header section start   */
     .header {
         padding: 8px 0;
     }

     .logo {
         width: 180px;
     }

     .menu ul li a {
         font-size: 16px;
         font-weight: 400;
         margin: 0 9px;
         color: var(--primary-color);
     }

     /* header section end  */

     /* banner section start  */
     .banner-text {
         text-align: center;
     }

     .banner-title {
         max-width: 100%;
         margin: 10px 0 20px 0;
         padding: 0 64px;
         font-size: 35px;
         line-height: 50px;
     }

     .banner-paragraph {
         padding: 0 40px;
         line-height: 24px;
     }

     .banner-img img {
         padding: 0 50px;
         margin-bottom: 30px;
     }

     .get-started {
         margin: 25px 0 37px 0;
     }

     /* banner section end  */
     /* features section start  */
     .features {
         padding-bottom: 60px;
     }

     .inner-feature {
         margin-top: 30px;
         padding: 50px 0 50px 0;
         text-align: center;
         background-color: var(--bg-color);
         border-radius: 10px;
         transition: 0.3s linear;
     }

     /* features section end  */

     .course-card {
         margin-top: 30px;
     }

     /* testimonial section start  */
     .test-img {
         margin: 0 50px 20px 50px;
     }

     .test-text p {
         text-align: center;
     }

     /* testimonial section end  */
     /* footer section start  */
     .footer-details {
         margin-bottom: 25px;
     }

     .footer-details p {
         padding: 0 50px;
         text-align: center;
     }

     /* footer section end  */
 }

 /* medium device  */
 @media (min-width: 768px) and (max-width: 991.98px) {

     /* header section start   */
     .menu ul li a {
         font-size: 16px;
         font-weight: 400;
         margin: 0 9px;
         color: var(--primary-color);
     }

     /* header section end  */

     /* banner section start  */
     .banner-text {
         text-align: center;
     }

     .banner-title {
         max-width: 100%;
         margin: 10px 0 20px 0;
         padding: 0 83px;
     }

     .banner-paragraph {
         padding: 0 78px;
     }

     .banner-img img {
         padding: 0 50px;
         margin-bottom: 30px;
     }

     /* banner section end  */

     /* features section start  */
     .features {
         padding-bottom: 80px;
     }

     /* features section end  */


     .course-card {
         margin: 50px 100px 0 100px;
     }

     /* testimonial section start  */
     .test-title h2 {
         margin-bottom: 20px;
     }

     .test-img {
         margin: 0;
     }

     /* testimonial section end  */

     /* footer section start  */
     .footer-details {
         margin-bottom: 30px;
     }

     .footer-details p {
         padding: 0 100px;
         text-align: center;
     }

     /* footer section end  */
 }


 /* large device  */
 @media (min-width: 992px) and (max-width: 1199.98px) {

     /* course section start  */
     .course-card {
         margin-top: 55px;
         padding: 20px 15px 31px 15px;
         border-radius: 18px;
         background: var(--secondary-color);
         box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
     }

     .course-date img,
     .course-seat img {
         width: 20px;
     }

     .course-footer .course-date span,
     .course-seat span {
         font-weight: 400;
         font-size: 14px;
     }

     .course-footer .course-date,
     .course-seat {
         gap: 4px;
     }

     /* course section end  */

     /* footer section start  */

     .footer-details p {
         padding-right: 50px;
     }

     /* footer section end  */

 }

 /* extra large device  */
 @media (min-width: 1200px) and (max-width:1399.98px) {}

 /* extra extra large device  */
 @media (min-width:1400px) {

     /* footer section start  */
     .footer-details p {
         padding-right: 130px;
     }

     /* footer section end  */
 }