:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --heading-color: #413960;
    --title-color: #585859;
    --text-color: #6C6B6B;
    --bg-color: #F0FFF0;
    --btn-color: #21B573;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* header section start  */

.header {
    background-color: var(--bg-color);
    padding: 15px 0;
}

.menu ul li a {
    font-size: 16px;
    font-weight: 400;
    margin: 0 25px;
    color: var(--primary-color);
    transition: all 0.3s;
}

.menu ul li a:hover {
    color: #FD511A;
}

.btn {
    padding: 12px 28px;
    border: 0;
    background-color: var(--btn-color);
    border-radius: 33px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
}

.btn:hover,
.btn:active {
    background-color: #FD511A !important;
    color: var(--secondary-color) !important;
}

/* header section end  */

/* banner section start  */
.banner {
    background-color: var(--bg-color);
}

.banner-question {
    color: #FD511A;
    line-height: normal;
}

.banner-title {
    max-width: 405px;
    margin: 10px 0 20px 0;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 70px;
}

.banner-title span {
    color: var(--btn-color);
}

.banner-paragraph {
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.get-started {
    margin: 25px 0 63px 0;
}

/* banner section end  */

/* features section start  */
.features {
    padding-bottom: 100px;
}

.inner-feature {
    margin-top: 40px;
    padding: 50px 0 50px 0;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 10px;
    transition: 0.3s linear;
}

.inner-feature:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
}


.feature-title {
    margin-top: 22px;
    color: var(--heading-color);
    font-weight: 500;
}

.feature-text {
    color: var(--title-color);
    /* padding-bottom: 50px; */
}

/* features section end  */

/* course section start  */
.course {
    padding-bottom: 100px;
}

.course-card {
    margin-top: 55px;
    padding: 24px 20px 31px 20px;
    border-radius: 18px;
    background: var(--secondary-color);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
}

.course-title h2 {
    text-align: center;
    color: #413960;
    font-weight: 700;
}

.course-card .course-subtitle {
    margin: 19px 0 3px 0;
    color: #413960;
    font-weight: 500;
}

.buy-btn {
    margin: 19px 0 34px 0;
    padding: 8px 28px;
    display: inline-block;
    border-radius: 33px;
    background: var(--btn-color);
    color: var(--secondary-color);
}

.course-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-footer .course-date,
.course-seat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.course-footer .course-date span,
.course-seat span {
    font-weight: 500;
}


/* course section end  */

/* testimonial section start  */
.testimonial {
    padding-bottom: 100px;
}

.test-title h2 {
    color: var(--primary-color);
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}

.test-img img {
    width: 100%;
}

.test-text p {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* testimonial section end  */
/* footer section start  */
.footer {
    padding: 55px 0 27px 0;
    background-color: #282531;
}

.footer-details p {
    padding-right: 100px;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.footer-course h4,
.footer-terms h4,
.footer-links h4 {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.footer-menu {
    padding: 0;
}

.footer-menu li a {
    display: inline-block;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.footer-bottom{
    margin-top: 80px;
}
.footer-bottom p {
    color: #CDCDCD;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

}

.footer-bottom a {
    color: var(--secondary-color);
}

/* footer section end  */